<div class="contentCalendar">
  <div class="wrapper">
    <header>
      <p class="current-date"></p>
      <div class="icons">
        <span id="today" class="material-symbols-rounded">
          <img
            width="35"
            src="assets/icons/calendar-today.png"
            />
        </span>
        <span id="prev" class="material-symbols-rounded"><</span>
        <span id="next" class="material-symbols-rounded">></span>
      </div>
    </header>
    <div class="calendar">
      <ul class="weeks">
        <li>Mo</li>
        <li>Di</li>
        <li>Mi</li>
        <li>Do</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>So</li>
      </ul>
      <ul class="days">
        <ng-container *ngFor="let item of classes; index as counter">
          <li [ngClass]="item">{{days[counter]}}</li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>


