<div class="main-content">
    <div style="display: flex; flex-direction: column">
      <h2 style="margin: 10px 0 0 0"> {{headline}} </h2>
      <div style="display: flex; flex-direction: row; align-items: baseline">
        <p style="font-size: 40px; margin: 10px 0 0 10px"> {{number}} </p>
        <p style="margin: 0 0 0 5px"> {{unitDesignation}} </p>
      </div>
    </div>
    <img width="60" height="60" style="align-self: center; margin: 0 0 0 5px" src=" {{image}} "/>
</div>

<!--href="https://www.flaticon.com/free-icons/travel" müsste angezeigt werden wenn man es veröffentlicht -->
