<div class="contentTimeBooking">
  <div class="wrapper">
    <header>
      <p class="current-date">23.10 - 29.10.2023</p>
      <div class="icons">
<!--        <span id="today" class="material-symbols-rounded">-->
<!--          <img-->
<!--            width="35"-->
<!--            src="assets/icons/calendar-today.png"-->
<!--          />-->
<!--        </span>-->
        <span id="prev" class="material-symbols-rounded"><</span>
        <span id="next" class="material-symbols-rounded">></span>
      </div>
    </header>
    <div class="timeBooking">
      <ul class="days">
        <div>
          <li>Mon</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Tue</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Wed</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Thu</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Fri</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Sat</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
        <div>
          <li>Sun</li>
          <ul class="times">
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Kommen:</div>
              <div>09:12:23 Uhr</div>
            </li>
            <li>
              <div class="timeBookingType">Gehen:</div>
              <div>09:12:23 Uhr</div>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>


