
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentTimeBooking{
  display: flex;
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}

header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}


.timeBooking{
  padding: 20px;
}

.timeBooking ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

.timeBooking .days li{
  font-weight: 500;
  cursor: default;
}

.timeBooking .days .times{
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 5px;
}

.timeBooking .days .times li{
  display: flex;
  flex-direction: row;
  z-index: 1;
  cursor: pointer;
  position: relative;
  font-weight: 1;
  margin-top: 30px;
  padding: 0 2px 0 2px;
}
.timeBooking .days .times li .timeBookingType{
  align-self: center;
  margin-right: 5px;
}

.timeBooking .days .times li:hover{
  background: #f2f2f2;
  border-radius: 10px;
}
