<div class="main-content">
  <div class="left-content">
    <app-calendar></app-calendar>
  </div>
  <div class="right-content">
    <a class="text"> Buchungsanträge</a>
    <select class="dropdown">
      <option value="Urlaub">Urlaub</option>
      <option value="Krankheit">Krankheit</option>
      <option value="Berufsschule">Berufsschule</option>
      <option value="Gleittag">Gleittag</option>
      <option value="Seminar">Seminar</option>
    </select>
    <label class="start" for="start">Start Abwesenheit:</label>

    <input type="date" id="start" name="start" value="2024-01-01" min="2024-01-01" max="2028-12-31" />
    <label class="end" for="end">Ende Abwesenheit:</label>

    <input type="date" id="end" name="end" value="2024-01-01" min="2024-01-01" max="2028-12-31" />
    <label class="beg">Begründung:</label>

    <textarea class="reason" cols="20" rows="5"></textarea>

    <button type="submit" class="send">Senden</button>

  </div>
</div>


