.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  flex-basis: auto;
}
.right-content{
  padding: 90px 30px 90px 30px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  width: 35%;
  display: flex;
  flex-direction: column;
  border: 4px double #bebdbd;
}

.left-content {
  display: flex;
  align-self: center;
  width: 65%;
}

.text {
  font-size: 200%;
  height: 40px;
  text-align:  center;
}

.dropdown{
  font-size: 150%;
  margin: 20px;
}

.start{
  font-size: 120%;
  margin: 10px;
  text-align: start;
}

.end{
  font-size: 120%;
  margin: 10px;
  text-align: start;
}

#end {
  font-size: 120%;
  margin-bottom: 10px;
  align-content: center;
}

#start {
  font-size: 120%;
  margin-bottom: 10px;
  align-content: center;
}

.beg{
  font-size: 120%;
  margin: 10px;
  text-align: start;
}

.reason {
  font-size: 120%;
}

.send {
  width: 30%;
  font-size: 120%;
  margin-top: 10px;
  align-self: center;
  background-color: #4e723b;
  border-radius: 5px;
  border: 4px double #cccccc;
  color: #eeeeee;
}


