<div style="display: flex; flex-flow: row">
  <div>
    <h1 style="margin: 0 0 50px 0">Hallo, Martin Thomas</h1>
    <app-calendar></app-calendar>
  </div>
  <div class="right-content">
    <app-clock style="margin: 0 0 20px 0"></app-clock>
    <app-info-tile
      [headline] = "'Urlaubstage'"
      [number] = "14"
      [unitDesignation]= "'verfügbare Tage'"
      [image]="'assets/icons/suitcase.png'"
      style="margin-bottom: 15px"
    ></app-info-tile>
    <app-info-tile
      [headline] = "'Gleitzeit'"
      [number] = "13.08"
      [unitDesignation]= "'Stunden'"
      [image]="'assets/icons/save-time.png'"
      style="margin-bottom: 10px"
    ></app-info-tile>
    <button class="button-type" type="button" routerLink="/time-booking/{{personalnummerUrl}}">Zeitbuchungen</button>
    <button class="button-type" type="button" routerLink="/absence/{{personalnummerUrl}}">Abwesenheitsanträge</button>
  </div>
</div>

