form {
  display: flex;
  flex-direction: column;
  border-radius: 10% ;
  box-shadow: 0 0 5px #ea8f56;
  margin: auto;
  background: #fbfcfd;
  width: 40%;
  border: none;
  padding: 40px 40px;
}
.first{
  font-size: 200%;
  align-self: center;
  margin-bottom: 20px;
}
input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0;
  display: inline-block;
  border: 5px solid #041a44;
  box-sizing: border-box;
}

.bn {
  font-size: 130%;
}

.pw {
  font-size: 130%;
}
input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0;
  display: inline-block;
  border: 5px solid #041a44;
  box-sizing: border-box;
}

button {
  background-color: #041a44;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 1.2;
}
/*img.avatar {
  border-radius: 70%;
  width: 11%;
}*/
/*.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d2240c;
}*/
/*.container {
  padding: 16px;
}*/
/*span.psw {
  float: right;
  padding-top: 16px;
}*/

/*@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }*/
 /* .cancelbtn {
    width: 100%;
  }*/

