form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  border-radius: 10px;
  margin: auto;
  background: white;
  width: 40%;
  border: none;
  padding: 40px 40px;
}
.first{
  font-size: 200%;
  align-self: center;
  margin-bottom: 20px;
}

.bn {
  font-size: 130%;
}

.pw {
  font-size: 130%;
}
input {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0 20px 0;
  display: inline-block;
  border: 0;
  background-color: #E4E4E4;
  box-sizing: border-box;
}
.input-checkbox {
  margin: 4px 5px 0 0;
  padding: 0;
  width: 11px;
  height: 11px
}

button {
  background-color: #21376A;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #f39201;
}

/*img.avatar {
  border-radius: 70%;
  width: 11%;
}*/
/*.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d2240c;
}*/
/*.container {
  padding: 16px;
}*/
/*span.psw {
  float: right;
  padding-top: 16px;
}*/

/*@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }*/
 /* .cancelbtn {
    width: 100%;
  }*/

