.gehenbtn{
    display: inline-block;
    background-color: #a80909;
    border-radius: 5px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
}
.kommenbtn{
    display: inline-block;
    background-color: #379801;
    border-radius: 5px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
}
button:hover {
    opacity: 0.8;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background-color: #21376A;
  color: white;
  display: inline-block;
  border-radius: 5px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px;
  }

