<div class="popup-container">
  <div class="right-content">
    <a class="text"> Buchungskorrektur </a>

    <label class="date-text" for="start">Datum:</label>
    <input type="date" id="start" [(ngModel)]="dateValue" name="start" class="date-tag" value="2024-01-01" min="2024-01-01" max="2028-12-31" />

    <label for="uhrzeit">Uhrzeit:</label>
    <input type="text" id="uhrzeit" [(ngModel)]="inputValue" placeholder="24:11:00" pattern="^(2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]$" required>

    <select class="dropdown" [(ngModel)]="selectedValue">
      <option value="Kommen">Kommen</option>
      <option value="Gehen">Gehen</option>
    </select>
    <!--<label class="date-text" for="end">Ende Abwesenheit:</label>
    <input type="date" id="end" name="end" class="date-tag" value="2024-01-01" min="2024-01-01" max="2028-12-31" />-->

    <label class="beg">Begründung:</label>
    <textarea class="reason" cols="20" rows="5"></textarea>
    <div style="display: flex; flex-direction: row; justify-content: space-between">

    <button type="submit" class="send" id="senden" (click)="buttonClickHandler('senden')">Senden</button>
      <button type="submit" class="close" id="close" (click)="closeDialog()">Close</button>
    </div>

  </div>
</div>
