.main-content {
    display: flex;
    flex-flow: row;
    background-color: white;
    padding: 0 20px 15px 25px;
    max-height: 200px;
    max-width: 400px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    border-radius: 10px;
}

